body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

button {
  background-color: red;
  color: white;
}
.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover { 
  cursor: grab; 
}

.task-late {
  background-color: red;
}

.task-due-today {
  background-color: orange;
}

.task-late, .task-due-today {
  color: white;
}