body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

button {
  background-color: red;
  color: white;
}
.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover { 
  cursor: grab; 
}

.task-late {
  background-color: red;
}

.task-due-today {
  background-color: orange;
}

.task-late, .task-due-today {
  color: white;
}

.droppable {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border: 1px dashed #999;
}

.draggable {
  width: 100px;
  height: 100px;
  /*background-color: #ccc;
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
  text-align: center; */
}